.container {
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid #735C74;
    border-radius: 0.5rem;
    font-family: 'Architects Daughter', cursive;
    color: #735C74;
}

.title {
    font-size: 1.5rem;
    margin: 0.3rem 0 0.6rem 0;
    font-family: 'Architects Daughter', cursive;
    color: #735C74;
}