.container {
   margin-bottom: 7px;
   box-sizing: border-box;
}

.input-wrapper {
   display: flex;
   justify-content: space-between;
}

.label {
   flex-grow: 1;
   text-align: right;
   padding-right: 15px;
}

.input {
   flex-grow: 5;
   min-width: 60%;
   max-width: 60%;
}
