.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70%;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}

.submit-wrapper > button {
    float: right;
}

.password-new {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.password,
.password-new > div {
    max-width: 48%;
}

ul {
    padding: 0;
    list-style-type: none;
}

ul li {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.address {
    max-width: 80%;
    cursor: pointer;
}

.address > span {
    padding-left: 1rem;
}

.address-buttons > button {
    max-height: 2rem;
    margin-left: 0.5rem;
    margin-top: 0;
}

@media (max-width: 750px) {
    .password-new {
        flex-direction: column;
    }

    .password,
    .password-new > div {
        max-width: 100%;
    }

    .submit-wrapper {
        display: flex;
    }

    .submit-wrapper > button {
        float: none;
    }
}