.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70%;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
}

.submit-wrapper > button {
    float: right;
}

.password-new {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.password,
.password-new > div {
    max-width: 48%;
}

@media (max-width: 750px) {
    .password-new {
        flex-direction: column;
    }

    .password,
    .password-new > div {
        max-width: 100%;
    }

    .submit-wrapper {
        display: flex;
    }

    .submit-wrapper > button {
        float: none;
    }
}