.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

@media (max-width: 365px) {
    .container {
        justify-content: center;
    }
}