.container {
    margin-left: 90%;
    cursor: pointer;

}

.container .bar:nth-child(1) {
    width: 25px;
    display: block;
    height: 3px;
    margin: 5px auto;
    background: #3D5344;
    transform: translateY(8px)rotate(45deg);
}

.container .bar:nth-child(2) {
    width: 25px;
    display: block;
    height: 3px;
    margin: 5px auto;
    background: #3D5344;
    transform: rotate(-45deg);
}