.btn-sidebar {
    padding: 0.5rem 0.8rem;
    margin-bottom: 0.25rem;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.25rem;
    color: rgb(115, 92, 116);
    border: 1px solid gray;
    border-radius: 0.3rem;
    cursor: pointer;
    min-width: 11rem;
}

.btn-sidebar:disabled {
    cursor: default;
}

.btn-sidebar:hover,
.selected {
    background-color: rgb(230, 227, 227);
    color: #EF696E;
}

@media(max-width: 550px) {
    .btn-sidebar {
        min-width: 8rem;
    }
}