.container {
    font-family: 'Lateef', cursive;
    color: #735C74;
    font-size: 1.3rem;
    margin-left: 10%;
    margin-top: 5%;
}

.range-input {
    display: block;
}

.title {
    font-family: 'Lateef', cursive;
    color: #735C74;
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
}