.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner-container {
    width: 25rem;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.error {
    color: red;
}