.image-card {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;
    position: relative;
}

.image {
    width: 100px;
    height: 100px;
}

.remove-btn {
    position: absolute;
    left: 73px;
    bottom: 79px;
}