.container {
    width: 20rem;
    height: 28rem;
    margin: 2%;
    position: relative;
  }

.price {
    word-wrap: break-word;
    padding: 0.5%;
    font-style: italic;
  
}

.discount {
    word-wrap: break-word;
    padding: 0.5%;
    font-style: italic;
    display: inline-block;
    text-size-adjust: 15;
    color: red;
}



.product-image {
    position: absolute;
    height: 15rem;
    width: 12rem;
    top: 2rem;
    right: 6rem;
}