@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.container {
    width: 20rem;
    height: 28rem;
    margin: 2%;
    position: relative;
  }

.product-image {
    position: absolute;
    height: 60%;
    width: 55%;
    top: 7%;
    right: 31%;
}

.text-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70%;
    width: 100%;
}

.brand-likeButton {
    display: flex;
    justify-content: center;
}


.brand {
    font-size: 2rem;
    font-family: 'Lateef', cursive;
    width: 155px;
    text-align: center;
    display: inline;
}

.like-button {
    width: 2rem;
}

.price-container {
    display: flex;
    justify-content: space-between;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.5rem;
}

.price {
    padding-left: 1rem;
    display: block;
}

.discount-style {
    color: red;
    padding-right: 15%;
}



