@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.container {
    position: relative;
    min-width: 6rem;
    max-width: 12rem;
    margin: 0 1rem;
    color: #707070;
    cursor: pointer;
    text-align: center;
}

.clicked-container {
    position: relative;
    min-width: 14rem;
    margin: 0 1rem;
    color: #707070;
    cursor: pointer;
    text-align: center;
}

.container:hover {
    color: #EF696E;
}

.link {
    position: relative;
    color: inherit;
    text-decoration: none;
    padding: 0px 1vw;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.img-link {
    /* top: 0;
    left: 50%;
    transform: translate(-50%); */
    text-align: center;
    color: #EF696E;
}

.image {
    position: absolute;
    left: 0;
    width: 100%;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.order-4 {
    order: 4;
}

.order-5 {
    order: 5;
}

@media screen and (max-width:768px) {
    .image {
        position: absolute;
        left: -100%;
        opacity: 0;
        display: none;
        transition: all 0.5s ease;
    }
}