.container {
    display: flex;
}

.main-container {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
}

.img-container {
    display: flex;
    margin-left: 25px;
    margin-top: 25px;
    height: 75vh;
    width: 60vw;
}

.product-image {
    height: 100%;
    box-sizing: border-box;
}
.img-selected {
    display: flex;
    width: 65%;
    height: 100%;
    justify-content: center;
    box-sizing: border-box;
}