.container {
    width: 100%;
    display: flex;
}

.number-input {
    flex: 9;
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield;
}

.units {
    flex: 1;
    padding-left: 10px;
    display: flex;
    align-items: center;
}