.site-nav {
    background-color: white;
    min-height: 5rem; 
    display: flex;
    justify-content: space-between;
}

.navbar-links {
    min-width: 50%;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.navbar-buttons {
    margin-left: 0.5vw; 
    padding: 0 1vw;
    display: flex;
    justify-content: end;
    list-style-type: none;
}

.logo-space {
    min-width: 100px;
}