.site-nav {
    min-height: 5rem; 
    display: flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.navbar-links {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.navbar-buttons {
    margin-top: -3.7rem;
    margin-left: 0.5vw; 
    padding: 0 1vw;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.expanded-bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 8rem;
    z-index: -1;
    background-color: #3D5344;
}

