@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
   
.title {
    font-family: 'Lateef', cursive;
    color: #735C74;
    font-size: 2rem;
    font-weight: normal;
    margin: 0;
    font-size: 2.1rem;
}

/* .check-box {
    margin-left: 10%;
    margin-top: 5%;
    min-width: 50%;
    max-width: 100%;
} */
