.date-input {
    box-sizing: border-box;
    width: 100%;
    min-height: 3rem;
    border-radius: 0.5rem;
    border: 1px solid #735C74;
    cursor: pointer;
    color: #735C74;
    font-family: 'Architects Daughter', cursive;
    font-size: 1rem;
}