.container {
    width: 50%;
    height: auto;
    border: 1px solid #234465;
    border-radius: 4px;
    background-color: rgb(228, 250, 194);
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    padding: 10px;
  }

.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0px 10px;
}

.nameField {
  color: blueviolet;
  font-style: italic;
  size: 5px;
  margin-right: 5px;
  font: bold;
}

.linefield {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.add-field {
  display: flex;
  flex-direction: column;
}

.editLinefield {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.eachSize {
  display: flex;
  flex-direction: row;
  margin: 5px 5px;
  justify-content: space-between;
}

.editFirsLineName {
  color: red;
}

.scratchLine {
  text-decoration: line-through
}

.title {
  display: flex;
  justify-content: center;
}

.h3 {
  font-size: 20px;
  font-style: italic;
  font-weight: 900;
}

.submit-btn {
  margin-left: auto;
}