.container {
  width: 100%;
  height: auto;
  border: 1px solid #234465;
  border-radius: 4px;
  background-color: rgb(228, 250, 194);
  display: flex;
  flex-direction: row;
  flex: 1;
  
  }

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 250px;
}

.nameField {
  color: blueviolet;
  font-style: italic;
  size: 5px;
  margin-right: 5px;
  font: bold;
}

.linefield {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.editLinefield {
  margin-bottom: 25px;
}

.table {
  display: flex;
  flex-direction: column;
}

.eachSize {
  display: flex;
  flex-direction: row;
  margin: 5px 5px;
  justify-content: space-between;
}

.editFirsLineName {
  color: red;
}

.scratchLine {
  text-decoration: line-through
}