.container {
    display: flex;
}

.cards {
    flex-grow: 4;
}

.filters {
    flex-grow: 1;
}

.sort-position {
    display: flex;
    justify-content: flex-end;
    margin-right: 3rem;
}

.nav {
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
}

.nav > button:first-child {
    flex-grow: 0;
}

@media screen and (max-width:768px) {
    .filters {
        display: inline-block;
    }

    .nav {
        flex-direction: column;
        align-items: flex-end;
    }
    
    .nav > button:first-child {
        flex-grow: 0;
        order: 2;
    }
}