.container {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: 'Lateef', cursive;
    font-size: 1.53rem;
    color: #735C74;
}

.center-text {
    text-align: center;
    margin: 0;
}