.container {
    width: 100%;
    height: auto;
    border: 1px solid #234465;
    margin-bottom: 3%;
    border-radius: 4px;
    display: flex;
  }

.price {
    word-wrap: break-word;
    padding: 0.5%;
    font-style: italic;
  
}

.discount {
    word-wrap: break-word;
    padding: 0.5%;
    font-style: italic;
    display: inline-block;
    text-size-adjust: 15;
    color: red;
}

.img {
    width: 100px;
    height: 80px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: rgb(152, 195, 236);
    /* flex: 1; */
    padding: 10px;
}

.gender {
    margin: 15px 0px;
}