.bag-link {
    font-family: 'Architects Daughter', cursive;
    font-size: 2rem;
    line-height: 2.2rem;
    background-color: white;
    padding: 0 10px;
    border: 1px solid #707070;
    border-radius: 0.4rem;
    color:  #EF696E;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16), 0 6px 12px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.bag-link-deactivated {
    opacity: 0.5;
    cursor: default;
}