.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    margin: 25px auto;
    height: auto;
    max-height: 90%;
    font-family: 'Architects Daughter', cursive;
    color: #735C74;
}

.button {
    flex-grow: 1;
    margin-top: 1.2rem;
    min-height: 30px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(230, 227, 227);
}

.button:hover {
    background-color: black;
    border-color: black;
    color: white;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.input-images {
    margin-bottom: 1.2rem;
}

.input-group {
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 5px;
    margin-bottom: 10px;
}


.title {
    margin-bottom: 10px;
}

.discount-container {
    margin-bottom: 0.5rem;
}