.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.cat-container {
    display: flex;
    min-height: 2.7em;
    flex-wrap: wrap;
}

.category {
    border: 1px solid black;
    border-radius: 0.3rem;
    background-color: rgb(230, 227, 227);
    margin: 10px 5px 0px 5px;
    padding: 5px;
    cursor: pointer;
}

.category:hover {
    color: #c82d2d;
    border-color: #c82d2d;
}

.select {
    min-height: 2rem;
    width: 100%;
    color: gray;
    background-color: rgb(230, 227, 227);
    border: 1px solid gray;
    border-radius: 0.3rem;
    cursor: pointer;
}

.select:hover {
    border-color: black;
}