@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.container {
    width: 100%;
    font-family: 'Architects Daughter', cursive;
}

.inner-container {
    display: flex;
    align-items: flex-start;
}

.receipt-current {
    display: flex;
    margin: 0 3rem;
}

.receipt-buttons {
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
}

@media (max-width: 1024px) {
    .inner-container {
        flex-direction: column;
        align-items: center;
    }

    .receipt-current {
        width: 100%;
        margin: 0 1rem;
        justify-content: center;
    }

    .receipt-buttons {
        margin-top: 1rem;
    }
}