.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 14vw;
    background-color: #3D53444F;
    padding: 0 10px;
    max-width: 14vw;
    height: 100%;
}

.title {
    font-family: 'Lateef', cursive;
    font-size: 1.53rem;
    color: #735C74;
}

.center-text {
    text-align: center;
    margin: 0;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #3D5344;

}

.media-aside > div {
    margin-left: 10%;
    margin-top: 5%;
    min-width: 50%;
    max-width: 100%;
}

@media screen and (max-width:1150px) {
    .container {
        display: flex;
        padding: 0;
        min-width: auto;
    }

    .menu-toggle {
        position: absolute;
        /* top: 34%; */
        left: 17px;
        padding-top: 10px;
        z-index: 501;
        cursor: pointer;
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    .menu-toggle.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-toggle.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .media-aside {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            /* top: 3.4rem; */
            width: 100%;
            left: -100%;
            opacity: 0;
            /* top: 24vh; */
            transition: all 0.5s ease;
    }

    .media-aside.active{
        background-color: rgb(206, 206, 206);
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 500;
        /* top: 24vh; */
        display: flex;
        flex-direction: column;
    }
}