.container {
	min-width: 18rem;
	margin: 10px 0;
	padding: 0.5rem;
	height: auto;
	border: 3px solid #234465;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	margin-right: 1rem;
	align-items: center;
}

.confirmButton {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	transition-duration: 0.4s;
	cursor: pointer;
}

.btn-delete:hover {
	background-color: crimson;
}

.inner-container {
	display: flex;
	flex-direction: column;
}

.btn-admin {
	display: flex;
	justify-content: flex-start;
	margin: 1rem 0;
	flex-wrap: wrap;
}

@media (max-width: 600px) {
	.container {
		margin-right: 0;
	}
}