.navbar-buttons {
    margin-top: 0;
    margin-bottom: 0.6rem;
    margin-left: 0.5vw; 
    padding: 0.6rem 1vw;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    position: relative;
}
