@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.stock-empty {
    font-family: 'Architects Daughter', cursive;
    color: #735C74;
    margin: 2rem 0;
    text-transform: uppercase;
}