@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.list-item {
    padding: 0px 1vw;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.6rem;
    color: #707070;
    text-transform: uppercase;
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    color: #EF696E;
    transition: all 0.4s ease-out;
}