@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.list-item {
    padding: 0px 1vw;
    font-family: 'Architects Daughter', cursive;
    font-size: 1.6rem;
    color: #707070;
    text-transform: uppercase;
}

.link {
    color: inherit;
    text-decoration: none;
}

.link:hover {
    color: #EF696E;
    transition: all 0.4s ease-out;
}

@media screen and (max-width:768px) {

    .list-item {
        margin: 2px 0;
    }

    .link {
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
    }

    .link::before,
    .link::after {
        content: "";
        width: 100%;
        height: 2px;
        background-color: #EF696E;
        position: absolute;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.5s;
    }

    .link::after {
        bottom:0;
        transform-origin: right;
    }

    .link::before {
        top:0;
        transform-origin: left;
    }

    .link:hover::before,
    .link:hover::after {
        transform: scaleX(1);
    }
}