.container {
    background-color: black;
    display: flex;
    justify-content: center;
    z-index: -99;
}  

.inner-container {
    background-color: white;
    /* max-width: 1120px; */
}

.error-container {
    width: 100%;
    left: 0;
    bottom: 1.5rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}