.img-grid {
    display: flex;
    width: 35%;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.img-frame {
    box-sizing: border-box;
    height: 45%;
    width: 100%;
    display: flex;
    padding: 5px;
    justify-content: center;
}

.img-img {
    height: 100%;
    box-sizing: border-box;
    opacity: 0.5;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    cursor: pointer;
}

.img-img:hover {
    opacity: 1;
}