.container {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.input-field {
    box-sizing: border-box;
    min-height: 2rem;
    height: 2rem;
    max-width: 60px;
    text-align: center;
    padding: 0;
    -moz-appearance: textfield;
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sign {
    background-color: rgb(230, 227, 227);
    outline: none;
    border: 1px solid black;
    min-height: 2rem;
    height: 2rem;
    width: 30px;
    cursor: pointer;
}

.btn-left {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.btn-right {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.sign:hover {
    background-color: black;
    color: white;
}

.label {
    margin-right: 1rem;
}