.container {
    width: 100%;
    height: auto;
    margin-bottom: 3%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.price {
    word-wrap: break-word;
    padding: 0.5%;
    font-style: italic;

}

.discount {
    word-wrap: break-word;
    padding: 0.5%;
    font-style: italic;
    display: inline-block;
    text-size-adjust: 15;
    color: red;
}

.img {
    width: 100px;
    height: 80px;
}

.form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-family: 'Architects Daughter', cursive;
    color: #735C74;
}

.gender {
    margin: 15px 0px;
}